.header_img {
  width: 60px;
}

.header {
  grid-area: h;
  background-color: green;
}

.loginBlock {
  display: inline;
  float: right;
  font-weight: 600;
  color: white; 
  margin-top: 20px;
  margin-right: 20px; 
  cursor: pointer;
}