.dialogs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fff;
}

.dialogsItems {
  padding: 10px;
}

.active {
  color: gold;
}

.messages {
  padding: 10px;
}

/* .message {} */